services:
  # 1. Zookeeper (Shared by HBase and Kafka)
  zookeeper:
    image: mmukadam/zookeeper:v3.8
    container_name: zookeeper-server
    ports:
      - "2181:2181"
    environment:
      # CRITICAL: Allows older HBase clients to ping the server
      ZOO_4LW_COMMANDS_WHITELIST: "*"

  # 2. Kafka Broker
  kafka:
    image: mmukadam/kafka:v7.4.0  # Equivalent to Kafka 3.4
    container_name: kafka-server
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-server:2181
      # Network configuration
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-server:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  # 3. Database to act as Hive Metastore
  postgres-db:
    image: mmukadam/postgres:v16
    container_name: hive-metastore-db
    environment:
      POSTGRES_DB: hive_metastore
      POSTGRES_USER: hive
      POSTGRES_PASSWORD: hivepassword
    volumes:
      - hive_db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  # 4. Main Big Data Service (Professor's custom image)
  cs523bdt-lab:
    image: mmukadam/cs523bdt-lab:v1.0
    container_name: cs523bdt-lab
    hostname: localhost
    depends_on:
      - postgres-db
      - zookeeper
      - kafka
    environment:
      - TZ=America/Chicago  # OPTIONAL: Force specific timezone if volume fails
    ports:
      - "9870:9870"   # HDFS UI
      - "8088:8088"   # YARN UI
      - "10000:10000" # Hive JDBC
      - "16010:16010" # HBase Master UI
      - "4040:4040"   # Spark UI
    volumes:
      # Mount a local folder 'my_code' to share files
      - ./my_code:/opt/my_code
      - /etc/localtime:/etc/localtime:ro
    tty: true

# Define the persistent volume
volumes:
  hive_db_data: